body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}
#about {
    background-color: #f9f9f9;
    padding: 20px;
}
#contact {
    background-color: #e0f7fa;
    padding: 20px;
}
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom, #1DB954, #191414);
    color: white;
}

#music-section {
    padding: 20px;
}

.hidden {
    display: none;
}
